body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    header h2 {
        margin: 0;
    }

    header img {
        vertical-align: middle;
    }

nav {
    background-color: #ddd;
    padding: 10px 0;
    text-align: center;
}

    nav button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: background 0.5s;
    }

        nav button:hover {
            background-color: #555;
        }

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

    form h3 {
        margin-top: 0;
    }

    form input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background 0.5s;
    }

        form input[type="submit"]:hover {
            background-color: #555;
        }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
