nav, form {
    text-align: center;
}
form {
    margin-left: 250px;
    margin-right: 250px;
}
h5 {
    text-align: right;
    word-spacing: 6px;
}
input {
    float: right;
}
footer {
    position: fixed;
    bottom: 0px;
}