<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content-wrap">
        <div class="container">
            <h2 class="centered-title">Enhancing Thalassemia Diagnosis Through Machine learning and Deep learning using Medical Reports and Blood Samples</h2>
            <p>
                Sadman Sakib Khan Promit<br>
            </p>
        </div>
    </div>
    <footer>
    Electrical and Computer Engineering (ECE) | North South University, Dhaka, Bangladesh | &copy; 2023 Sadman Sakib Khan Promit
    </footer>
</body>
</html>
