<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content-wrap">
        <div class="container">
            <h2 class="centered-title">DESCO Billing System</h2>
            <p>Faculty Member</p>
            <p>
                Mohammad Rezwanul Huq<br>
                <a href="mailto:mohammad.huq02@northsouth.edu">mohammad.huq02@northsouth.edu</a>
            </p>
            <p>Students</p>
            <p>
                Sadman Sakib Khan Promit<br>1330275042<br>
                <a href="mailto:sadman.khan@northsouth.edu">sadman.khan@northsouth.edu</a><br>
                <br>
                Sayed Qatada Mahmud<br>1822020642<br>
                <a href="mailto:qatada.mahmud@northsouth.edu">qatada.mahmud@northsouth.edu</a><br>
                <br>
                Kazi Fahad Ahmed<br>1912319642<br>
                <a href="mailto:kazi.ahmed02@northsouth.edu">kazi.ahmed02@northsouth.edu</a><br>
                <br>
                Sheikh Tanzida Tasmim Erin<br>2013681042<br>
                <a href="mailto:sheikh.erin@northsouth.edu">sheikh.erin@northsouth.edu</a>
            </p>
        </div>
    </div>
    <footer>
        Electrical and Computer Engineering (ECE) | North South University, Dhaka, Bangladesh | &copy; 2024 Sadman Sakib Khan Promit | <a href="mailto:proomith@gmail.com">proomith@gmail.com</a>
    </footer>
</body>
</html>
