<div class="navbar">
    {% if current_user.is_authenticated %}
        {% if current_user.role == 'admin' %}
            <a href="{{ url_for('admin') }}">Admin Dashboard</a>
            <a href="{{ url_for('view_complaints') }}">Complain</a>
        {% else %}
            <a href="{{ url_for('customer') }}">Customer Dashboard</a>
            <a href="{{ url_for('submit_complaint') }}">Complain</a>
        {% endif %}
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('signup') }}">Signup</a>
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</div>
